<!DOCTYPE html>
<html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Personalbereich</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 
 <h1>Personalbereich</h1>
 <br>
 {% with messages = get_flashed_messages(category_filter=["s_danger"]) %}
    {% for message in messages %}
      <div style="color: white; background-color: #ff4d4d; padding: 7px; margin-bottom: 15px; border-radius: 5px;">
        {{ message }}
      </div>
    {% endfor %}
{% endwith %}
<br> 
 <form action="/slog" method="POST">

 <div class="form-group">
 <label for="ma-id">Ma-id:</label>
 <input type="text" name="ma_id" autocomplete="ma_id"required>
    


 <div class="form-group">
 <label for="Email">Email:</label> 
 <input type="text" name="Email" required>


 <div class="form-group">
 <label for="Passwort">Passwort:</label>     
 <input type="password" name="password" autocomplete="current-password" required>
    
<br>
    
  
  <button id="stb4" type="submit"> Anmelden</button>
    
</form>

</body>
</html>
