 <!doctype html>
<html lang=en>

<head>
    <title>{% block TITLE %}{% endblock %} Tauschtool (Studienbüro)</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    
</head>

<body>

<section class="content">
        <header>{% block HEADER %}
        <a href="/dashboard"><img src="{{ url_for('static', filename='hwr-baer.png') }}" alt="Home" width="50"></a>
        <div style="margin: auto;">
        <b style="font-size: 20px; color:white;">HWR-Kurstausch - FB 1 Bachelor Sc.</b>
        </div>
        <a href="/dashboard">Navigation</a>
        <a href="/profil">Mein Profil</a>
        <a href="/logout">Logout</a>
        {% endblock %}</header>

        <nav>{% block NAV %}
    {% endblock %}</nav>

    {% block CONTENT %}{% endblock %}

    <footer>{% block footer %}
        <p>HWR Kurstausch-Portal</p>
        <p>&copy; 2026 ASDF Dev.</p>
        <p><a href="impressum">Impressum</a></p>
        {% endblock %}</footer>
</section>
</body>

</html>
