{% if current_user.matrikelnummer%}
{% extends "base.html" %}
{% elif current_user.ma_id%}
{% extends "base_sb.html" %}
{%endif%}

{% block TITLE %}Mein Profil -{% endblock %}
{% block CONTENT %}
<h1>Profildaten</h1>

<p>Vorname: {{ current_user.vorname }}</p>
<p>Name: {{ current_user.name }}</p>
<p>Email: {{ current_user.email }}</p>

    {% if current_user.matrikelnummer%}
    <p>Matrikelnummer: {{ current_user.matrikelnummer }}</p>
    {%endif%}

    {% if current_user.ma_id%}
    <p>Studienbüro Account ID: {{ current_user.ma_id }}</p>
    {%endif%}

    {% if current_user.matrikelnummer %}
    <h3>Meine Tauschanfragen! Anzahl: {{ user_tausche|length }}</h3>

     <ul>
      {% for tausch in user_tausche %}
        {# SELECT tausch_id, anf.username, abg.username, anf.kurs_id, abg.kurs_id #}
        {#           0          1               2             3           4      #}
        <li>#{{tausch[0]}}: {{tausch[1]}} hat {{tausch[3]}} mit {{tausch[2]}} für {{tausch[4]}} getauscht! </li>
      {% endfor %}
    </ul>
    {%endif%}

{% endblock %}