{% extends "base_sb.html" %}
<!DOCTYPE html>
<html lang="en">



<head>
     <meta charset="UTF-8"> 
    <title>Impressum</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<form action="/studbuero" method="POST"></form>
<h1>Plattform für Kurstausch an der HWR Berlin (FB1 B.Sc.)</h1>
<p>&copy; 2026 ASDF Dev.</p>
<p>created by Asem Ramadan, Selim Basbug, Danial Banitorfi & Fynn Klette</p>
<p>als Studienprojekt für die HWR Berlin</p>


</body>
</html>
