<!DOCTYPE html>
<html lang="de">


<head>
     <meta charset="UTF-8"> 
    <title>Startseite</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>

<h1>Kurstausch des FB1 B.Sc.</h1>
<br>

{% with messages = get_flashed_messages(category_filter=["danger"]) %}
    {% for message in messages %}
      <div style="color: white; background-color: #ff4d4d; padding: 7px; margin-bottom: 15px; border-radius: 5px;">
        {{ message }}
      </div>
    {% endfor %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=["succes"]) %}
    {% for message in messages %}
      <div style="color: white; background-color: #22da1f; padding: 7px; margin-bottom: 15px; border-radius: 5px;">
        {{ message }}
      </div>
    {% endfor %}
{% endwith %}


<br> 
<form action="/anmelden" method="POST">
    <input
        type="text"
        name="email"
        placeholder="HWR-Email"
        required>
    
    <input
        type="password"
        name="password"
        placeholder="Passwort"
        required>
    
    <button type="submit"> Anmelden </button></form>


<a href="/registrieren">
<button>Registrieren</button></a>

<a href="/studienbuero">
 <button id="stb3" type="button"> Studienbüro</button>
</form> </a>

</body>
</html>
